.whatimage {
    max-height: 1080px !important;
    max-width: 1080px !important;
}

.whatimage-m {
    max-height: 400px !important;
    max-width: 400px !important;
}

.whyimage {
  max-height: 1080px !important;
  max-width: 1080px !important;
}

.whyimage-m {
    max-height: 450px !important;
    max-width: 450px !important;
}

.underline-y {
    width: 50px;
    height: 5px;
    background: #F4B400;
}

.underline-g {
    width: 50px;
    height: 5px;
    background: #0F9D58;
}
