

<div fxLayout="row" fxFlex=100>
    <div fxLayout="column" fxFlex=50 class="what">
        <p class="subheading mrg0">What is DSC?</p>
        <p class="content">Google collaborates with university students who are passionate about growing developer
            communities and support them with starting student clubs on their campuses.</p>
    </div>
</div>

<div fxLayout="row" fxFlex=100>
    <div fxLayout="column" fxFlex=50 class="why mrg24-TB">
        <p class="subheading  mrg0">Why DSC?</p>
        <p class="content">Google collaborates with university students who are passionate about growing developer
            communities and support them with starting student clubs on their campuses.</p>
    </div>
</div>