<div fxLayout="row" fxFlex=100>
    <div fxLayout="column" fxFlex=40 class="what bg-800">
        <p class="content mrg0">What is DSC?</p>
        <div class="underline-y mrg8-TB"></div>
        <p class="caption">Google collaborates with university students who are passionate about growing developer
            communities and support them with starting student clubs on their campuses.</p>
    </div>
    <div fxLayout="column" fxFlex=30>
        <img class="whatimage" src="assets/images/about/why.png" alt="">
    </div>
</div>

<div fxLayout="row" fxFlex=100>
    <div fxLayout="column" fxFlex=40 class="why mrg24-TB bg-800">
        <p class="content  mrg0">Why DSC?</p>
        <div class="underline-g mrg8-TB"></div>
        <p class="caption">Google collaborates with university students who are passionate about growing developer
            communities and support them with starting student clubs on their campuses.</p>
    </div>
    <div fxLayout="column" fxFlex=30>
        <img class="whyimage" src="assets/images/about/what.png" alt="">
    </div>
</div>