.what{
    position: absolute;
    top: 30% !important;
    left: 10% !important;
    z-index: 3;
}

.why{
    position: absolute;
    top: 70% !important;
    right: 10% !important;
    z-index: 3;
}