<div fxLayout="row" fxFlex=100 fxHide.lt-md fxShow>
    <div fxLayout="column" fxFlex=40 class="what bg-800">
        <p class="content mrg0">What is DSC?</p>
        <div class="underline-y mrg8-TB"></div>
        <p class="caption">DSC is to help solve the challenges university graduates
            were facing securing employment in the tech industry. We aimed to provide students with the resources,
            opportunities and, experience necessary to be industry ready, all while still pursuing their degrees.</p>
    </div>
    <div fxLayout="column" fxFlex=30>
        <img class="whatimage" src="assets/images/about/why.png" alt="What">
    </div>
</div>

<div fxLayout="row" fxFlex=100 fxHide.lt-md fxShow>
    <div fxLayout="column" fxFlex=40 class="why mrg24-TB bg-800">
        <p class="content  mrg0">Why DSC?</p>
        <div class="underline-g mrg8-TB"></div>
        <p class="caption">Developer Students Club-NIT Surat is a Google recognized student body at NSEC which directly
            reports to Google Developers for their activities and is supported by the tech giant. DSC-SVNIT conducts
            workshops, seminars and other fun activities which help the students connect with Google.</p>
    </div>
    <div fxLayout="column" fxFlex=30>
        <img class="whyimage" src="assets/images/about/what.png" alt="Why">
    </div>
</div>

<div fxLayout="column" fxShow.lt-md fxHide class="mrg80-TB">
    <div fxFlex=100 class="bg-800 mrg16-RL">
        <p class="content mrg0">What is DSC?</p>
        <div class="underline-y mrg8-TB"></div>
        <p class="caption">DSC is to help solve the challenges university graduates
            were facing securing employment in the tech industry. We aimed to provide students with the resources,
            opportunities and, experience necessary to be industry ready, all while still pursuing their degrees.</p>
    </div>
    <div fxLayout="row" fxFlex=100>
        <img class="whatimage-m" src="assets/images/about/why.png" alt="What">
    </div>
    <div fxFlex=100 class="bg-800 mrg16-RL">
        <p class="content  mrg0">Why DSC?</p>
        <div class="underline-g mrg8-TB"></div>
        <p class="caption">Developer Students Club-NIT Surat is a Google recognized student body at NSEC which directly
            reports to Google Developers for their activities and is supported by the tech giant. DSC-SVNIT conducts
            workshops, seminars and other fun activities which help the students connect with Google.</p>
    </div>
    <div fxLayout="row" fxFlex=100>
        <img class="whyimage-m" src="assets/images/about/what.png" alt="Why">
    </div>


</div>