<div class="space"></div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" class="subheading bg-800">Our Team</div>
</div>


<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" fxFlex=25>
        <mat-card class="mat-elevation-z3 mrg40-TB">
            <img mat-card-image class="card-image" src="assets/images/team/dhruvi16.svg" alt="orientation2">
            <mat-card-content>
                <div fxLayout="column" fxFlex fxLayoutAlign="center center">
                    <div class="content bg-700">Dhruvi Butti</div>
                    <div class="sm bg-700">Web Developer, UX enthusiast</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>