<div fxLayout="row" class="logo cursor" routerLink="/">
    <img class="image mrg16" src="assets/images/usps/logo.jpeg" alt="Logo">
    <p class="content bg-800">DSC - NIT Surat</p>
</div>

<div fxLayout="row" class="header">
    <a fxLayout="column" class="red content cursor mrg24" [routerLink]="['about']">
        About
    </a>
    <a fxLayout="column" class="green content cursor mrg24" [routerLink]="['events']">
        Events
    </a>
    <a fxLayout="column" class="yellow content cursor mrg24" [routerLink]="['team']">
        Team
    </a>
    <a fxLayout="column" class="blue content cursor mrg24" [routerLink]="['contact']">
        Contact
    </a>
</div>