.background {
    height: 80px !important;
    width: 100% !important;
    background: #ffffff !important;
    position: fixed;
    top: 0%;
    z-index: 3;
}

.header{
    position: fixed;
    top: 0%;
    right: 5%;
    -ms-transform: translateX(5%) translateY(-0%);
    -webkit-transform: translate(5%,-0%);
    transform: translate(5%,-0%);
    z-index: 3 !important;
}

.image {
    max-height: 100px !important;
    max-width: 100px !important;
}

.logo {
    position: fixed;
    z-index: 3 !important;
}

.underline-b {
    width: 30px;
    height: 5px;
    background: #4285F4;
}

.underline-r {
    width: 30px;
    height: 5px;
    background: #DB4437;
}

.underline-g {
    width: 30px;
    height: 5px;
    background: #0F9D58;
}

.underline-y {
    width: 30px;
    height: 5px;
    background: #F4B400;
}

.icon {
    max-width: 30px;

}

.menu-items {
    position: absolute;
    right: 10%;
    margin-top: 80px;
    z-index: 5;
    max-width: 400px !important;
    background: #ffffff;
}


