.header{
    position: fixed;
    top: 0%;
    right: 5%;
    -ms-transform: translateX(5%) translateY(-0%);
    -webkit-transform: translate(5%,-0%);
    transform: translate(5%,-0%);
}

.image {
    max-height: 50px !important;
    max-width: 50px !important;
}