.cover {
    max-width: 1080px !important;
    height: 100% !important;
}

.description{
    position: absolute;
    top: 40% !important;
    left: 10% !important;
    z-index: 2;
}

.underline {
    width: 50px;
    height: 5px;
    background: #4285F4;
}

.image {
    position: absolute;
    max-height: 700px !important;
    max-width: 700px !important;
    right: 2%;
    top: 30%;
}

.icon {
    width: 50px;
}
