<div fxLayout="row" fxFlex=100>
    <div fxLayout="column" fxFlex=50 class="description">
        <p class="heading mrg0">Developer Students' Club</p>
        <p class="heading mrg0">NIT Surat</p>
        <p class="content">Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.</p>
    </div>
</div>

<!-- <div fxFlex=50 fxLayout="column" class="image">
    <img src="assets/images/me2.svg" alt="">
</div> -->