<section fxFlexFill>
  <div fxFlex=5></div>

  <!-- DESKTOP VERSION -->

  <div fxLayout="row" fxFlex=90 fxLayoutAlign="center center" style="margin-top: 15%;" class="bg-800 mrg40-TB"
    fxHide.lt-md fxShow>
    <div fxLayout="column" fxFlex=40 class="mrg8-RL">
      <p class="heading mrg0">Developer Students' Club</p>
      <p class="heading mrg0">NIT Surat</p>
      <div class="underline mrg8-TB"></div>
      <p class="content">Google collaborates with university students who are passionate about growing developer
        communities and support them with starting student clubs on their campuses.</p>
      <div fxLayout="row">
        <a href="https://www.facebook.com/dscnitsurat/" class="mrg16" target="_blank"><img
            src="assets/images/usps/facebook.svg" class="icon"></a>
        <a href="mailto:dscnitsurat@gmail.com" class="mrg16" target="_blank"><img src="assets/images/usps/envelope.svg"
            class="icon"></a>
        <a href="https://www.instagram.com/dsc_nitsurat/" class="mrg16" target="_blank"><img
            src="assets/images/usps/instagram.svg" class="icon"></a>
        <a href="https://twitter.com/DscNit" class="mrg16" target="_blank"><img src="assets/images/usps/twitter.svg"
            class="icon"></a>
      </div>
    </div>
    <div fxLayout="column" fxFlex=50 class="mrg8-RL">
      <img class="image" src="assets/images/home/home.png" alt="">
    </div>
  </div>

  <!-- MOBILE VERSION -->

  <div fxLayout="row" fxFlex=100 class="mrg80-TB bg-800" fxShow.lt-md fxHide>
    <div fxLayout="column" fxFlex=100 class="description">
      <p class="heading mrg0">Developer Students' Club</p>
      <p class="heading mrg0">NIT Surat</p>
      <div class="underline mrg8-TB"></div>
      <p class="content">Google collaborates with university students who are passionate about growing developer
        communities and support them with starting student clubs on their campuses.</p>
      <div fxLayout="row">
        <a href="https://www.facebook.com/dscnitsurat/" class="mrg16" target="_blank"><img
            src="assets/images/usps/facebook.svg" class="icon"></a>
        <a href="mailto:dscnitsurat@gmail.com" class="mrg16" target="_blank"><img src="assets/images/usps/envelope.svg"
            class="icon"></a>
        <a href="https://www.instagram.com/dsc_nitsurat/" class="mrg16" target="_blank"><img
            src="assets/images/usps/instagram.svg" class="icon"></a>
        <a href="https://twitter.com/DscNit" class="mrg16" target="_blank"><img src="assets/images/usps/twitter.svg"
            class="icon"></a>

      </div>
    </div>
  </div>
  <div fxFlex=5></div>
</section>
