<div fxLayout="row" fxFlex=100 class="cover bg-800">
    <div fxLayout="column" fxFlex=40 class="description">
        <p class="heading mrg0">Developer Students' Club</p>
        <p class="heading mrg0">NIT Surat</p>
        <div class="underline mrg8-TB"></div>
        <p class="content">Google collaborates with university students who are passionate about growing developer
            communities and support them with starting student clubs on their campuses.</p>
            <div fxLayout="row">
                <a href="https://twitter.com/ButtiDhruvi" class="mrg16" target="_blank"><img src="assets/images/usps/facebook.svg"
                        class="icon"></a>
                <a href="https://github.com/Dhruvi16" class="mrg16" target="_blank"><img src="assets/images/usps/envelope.svg"
                        class="icon"></a>
                <a href="mailto:dhruvibutti9477@gmail.com" class="mrg16" target="_blank"><img src="assets/images/usps/instagram.svg"
                        class="icon"></a>
                <a href="https://www.linkedin.com/in/dhruvi-butti-bb6196149/" class="mrg16" target="_blank"><img
                        src="assets/images/usps/twitter.svg" class="icon"></a>
    
            </div>
    </div>
    <div fxLayout="column">
        <img class="image" src="assets/images/home/home.png" alt="">
    </div>
</div>
