<div class="space"></div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" class="subheading bg-800">Upcoming Events</div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" fxFlex=25 fxFlex.lt-md=80>
        <mat-card class="card mat-elevation-z3 mrg40-TB">
            <mat-card-header>
                <mat-card-title class="captionb bg-900">Orientation Edition-2</mat-card-title>
                <mat-card-subtitle class="caption bg-900">2019</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/images/events/orientation2.png" alt="orientation2">
            <mat-card-content>
                <div fxLayout="row" fxFlex>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center" mat-raised-button matTooltip="Info about the action"
                    matTooltipPosition="before">
                        <img src="assets/images/usps/venue.svg" class="card-usp" >
                        <div class="xs bg-700 mrg4-TB">Old Comps Dept.</div>
                    </div>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center">
                        <img src="assets/images/usps/clock.svg" class="card-usp">
                        <div class="xs bg-700 mrg4-TB">5:30 pm</div>
                    </div>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center">
                        <img src="assets/images/usps/calendar.svg" class="card-usp">
                        <div class="xs bg-700 mrg4-TB">15th Oct</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" class="subheading bg-800">Past Events</div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" fxFlex=25 fxFlex.lt-md=80>
        <mat-card class="card mat-elevation-z3 mrg40-TB">
            <mat-card-header>
                <mat-card-title class="captionb bg-800">Orientation Edition-1</mat-card-title>
                <mat-card-subtitle class="caption bg-800">2019</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/images/events/orientation1.jpeg" alt="orientation1">
            <mat-card-content>
                <div fxLayout="row" fxFlex>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center" mat-raised-button matTooltip="Info about the action"
                    matTooltipPosition="before">
                        <img src="assets/images/usps/venue.svg" class="card-usp" >
                        <div class="xs bg-700 mrg4-TB">COED-10</div>
                    </div>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center">
                        <img src="assets/images/usps/clock.svg" class="card-usp">
                        <div class="xs bg-700 mrg4-TB">6:00 pm</div>
                    </div>
                    <div fxLayout="column" fxFlex=33 fxLayoutAlign="center center">
                        <img src="assets/images/usps/calendar.svg" class="card-usp">
                        <div class="xs bg-700 mrg4-TB">11th Sept</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>