<div class="space"></div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" class="subheading bg-800">Upcoming Events</div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" fxFlex=25>
        <mat-card class="card mat-elevation-z3 mrg40-TB">
            <mat-card-header>
                <mat-card-title class="captionb bg-800">Orientation Edition-2</mat-card-title>
                <mat-card-subtitle class="caption bg-800">2019</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/images/events/orientation2.png"
                alt="orientation2">
            <mat-card-content>
                <p>
                
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" class="subheading bg-800">Past Events</div>
</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex=10></div>
    <div fxLayout="column" fxFlex=25>
        <mat-card class="card mat-elevation-z3 mrg40-TB">
            <mat-card-header>
                <mat-card-title class="captionb bg-800">Orientation Edition-1</mat-card-title>
                <mat-card-subtitle class="caption bg-800">2019</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/images/events/orientation1.jpeg"
                alt="orientation1">
            <mat-card-content>
                <p>
                
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>