/* You can add global styles to this file, and also import other style files */

html * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.red {
    color: #DB4437;
}

.green {
   color: #0F9D58; 
}

.yellow {
    color: #F4B400;
}

.blue {
    color: #4285F4;
}

.bg-700 {
    color: #455A64;
}

.bg-800 {
   color: #37474F; 
}

.bg-900 {
    color: #263238;
}


.heading {
    font-size: 2rem;
}

.subheading {
    font-size: 1.75rem;
}

.content {
    font-size: 1.5rem;
}

.caption {
    font-size: 1.25rem;
}

.captionb {
    font-weight: 500;
    font-size: 1.25rem;
}

.sm {
    font-size: 1rem;
}

.xs {
    font-size: .75rem;
}

.mrg0 {
    margin: 0px;
}

.mrg0-TB {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mrg2-TB {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mrg4-TB {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mrg8-TB {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mrg16-TB {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mrg24-TB {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mrg32-TB {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mrg40-TB {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mrg0-RL {
    margin-right: 0px;
    margin-left: 0px;
}

.mrg2-RL {
    margin-right: 2px;
    margin-left: 2px;
}

.mrg4-RL {
    margin-right: 4px;
    margin-left: 4px;
}

.mrg8-RL {
    margin-right: 8px;
    margin-left: 8px;
}

.mrg16-RL {
    margin-right: 16px;
    margin-left: 16px;
}

.mrg24-RL {
    margin-right: 24px;
    margin-left: 24px;
}

.mrg32-RL {
    margin-right: 32px;
    margin-left: 32px;
}

.mrg40-RL {
    margin-right: 40px;
    margin-left: 40px;
}

.mrg2 {
    margin: 2px;
}

.mrg4 {
    margin: 4px;
}

.mrg8 {
    margin: 8px;
}

.mrg16 {
    margin: 16px;
}

.mrg24 {
    margin: 24px;
}

.mrg32 {
    margin: 32px;
}

.mrg40 {
    margin: 40px;
}

.pd0 {
    padding: 0px;
}

.pd2 {
    padding: 2px;
}

.pd4 {
    padding: 4px;
}

.pd8 {
    padding: 8px;
}

.pd16 {
    padding: 16px;
}

.pd24 {
    padding: 24px;
}

.cursor {
    cursor: pointer !important;
}








